{% with request.resolver_match.url_name as url_name %}
<nav class="topnav">
  <ul>
    <li>
      <a class="{% if url_name == 'books.index' %}active{% endif %}"
         href="{% url 'books.index' %}">
         Home
      </a>
    </li>
    <li>
      <a class="{% if url_name == 'books.list_books' %}active{% endif %}"
         href="{% url 'books.list_books' %}">
         List Books
      </a>
    </li>
    <li>
      <a class="{% if url_name == 'books.aboutus' %}active{% endif %}"
         href="{% url 'books.aboutus' %}">
         About
      </a>
    </li>
  </ul>
</nav>
{% endwith %}